<div class='container'>

		<div class="row">
			<div><img src="http://placekitten.com/g/150/150" class="img-rounded bio-img"></div>
			<div class="bio"><strong>Lisa Lehrman</strong> is an awesome web developer in San Francisco. She was the chief kitten wrangler for <strong>Encore</strong>.</div>
		</div>
		<div class="row">
			<div><img src="http://placekitten.com/g/150/150" class="img-rounded bio-img"></div>
			<div class="bio"><strong>Darragh Monaghan</strong> is an awesome web developer in San Francisco. He was the circus strongman for <strong>Encore</strong>.</div>
		</div>
		<div class="row">
			<div><img src="http://placekitten.com/g/150/150" class="img-rounded bio-img"></div>
			<div class="bio"><strong>Neil Rayos</strong> is an awesome web developer in San Francisco. He was the caped crusader for <strong>Encore</strong>.</div>
		</div>
		<div class="row">
			<div><img src="http://placekitten.com/g/150/150" class="img-rounded bio-img"></div>
			<div class="bio"><strong>Heather Stenson</strong> is an awesome web developer in San Francisco. She was the manitee specialist for <strong>Encore</strong>.</div>
		</div>
		<!-- <h4>4 members, battling 1 partially working site</h4>
		<p>Not much fun was had</p> -->
</div>