<div class="jumbotron">
  <div class="container">
  <h1>Find a performer near you</h1>
  <p>The best local performers.</p>
  <button type="button" class="btn btn-default btn-lg btn-block"><%= link_to "Search All Perfomers", performers_path %></button>
  </div>
</div>

<div class="container">
<!-- row of columns -->
  <div class="col-md-4">
    <h3>Hire performers.</h3>
    <div><img class="perf" src="http://i.cdn.talentegg.ca/incubator/wp-content/uploads/bourke3.jpg">
    </div>
    <p>Make it memorable</p>
    <button type="button" class="btn btn-sm btn-info"><%= link_to "Musical Acts", "/categories/1" %></button>   
  </div>
<!-- row of columns -->
<div class="col-md-4">
    <h3>Do you love magic?</h3>
    <div><img class="perf" src="http://www.neurosciencemarketing.com/blog/wp-content/uploads/2010/11/magician-cards.jpg">
    </div>
      <p>Browse magicians and clowns near you.</p>
      
      <button type="button" class="btn btn-sm btn-info"><%= link_to "Comedy Acts", "/categories/2" %></button> 
      </div>
    <!-- row of columns -->
<div class="col-md-4">
    <h3>Looking for a laugh?</h3>
    <div><img class="perf" src="http://nickshell1983.files.wordpress.com/2011/01/stand-up-comedy-mic.jpg">
    </div>
      <p>The funniest comics are at your event.</p>
      <button type="button" class="btn btn-sm btn-info"><%= link_to "Circus Acts", "/categories/3" %></button> 
    </div>
</div>
<hr>
<footer id="footer" class="container-brand-dar footer-surround footer-container">
    <footer class="page-container-responsive">
      <div class="text-center page-container-responsive">
        <div class="row row-condensed">
          <div class="col-md-2 cold-md-offset-1 hide-sm">
            
          </div>
          <div class="col-md-2 cold-md-offset-1 hide-sm">
            
          </div>
          <div class="col-md-2 hide-sm">
            <h2 class="h5">Discover</h2>
            <ul class="list-layout">
              <li>
                <a href="#">Trust and Safety</a>
              </li>
              <li>
                <a href="#">Tell your friends</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 hide-sm">
            <h2 class="h5">Our Team</h2>
            <ul class="list-layout">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
  </footer>










