
<div class="jumbotron">
  <div class="container">
  <h1>Find a performer near you</h1>
  <p>The best local performers.</p>
  <!-- BIG SEARCH ALL BUTTON -->
 <%= button_to "Search All Perfomers", performers_path, method: :get, class: "btn btn-default btn-lg btn-block ghost-button" %>
  </div>
</div>

<div class="container">
<!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Musical Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("http://i.cdn.talentegg.ca/incubator/wp-content/uploads/bourke3.jpg", class: "perf"), "/categories/1" %>
  </div>
<!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Magical Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("http://i.cdn.talentegg.ca/incubator/wp-content/uploads/bourke3.jpg", class: "perf"), "/categories/2" %>
  </div>    <!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Circus Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("http://i.cdn.talentegg.ca/incubator/wp-content/uploads/bourke3.jpg", class: "perf"), "/categories/3" %>
  </div>

</div>
