
<div class="jumbotron">
  <div class="container">
  <h1 id='homepage_h1'>Find a performer near you.</h1>
  <p>The best local performers.</p>
  <!-- BIG SEARCH ALL BUTTON -->
 <%= button_to "Search All Perfomers", performers_path, method: :get, class: "btn btn-default btn-lg btn-block ghost-button" %>
  </div>
</div>

<div class="container">
<!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Musical Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("http://www.eurovision.tv/save-files/resizes/8c/36/a0/49/c5/0d/cf/81/c7/e8/3c/fa/4c/09/a6/5e/TH4_41.jpg", class: "perf"), "/categories/1" %>
  </div>
<!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Magical Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("http://www.magicbymio.com/wp-content/uploads/2015/07/Cards.jpg", class: "perf"), "/categories/2" %>
  </div>    <!-- row of columns -->
  <div class="col-md-4">
    <h3 class="hire-perfs">Hire Circus Acts.</h3>    
    <!-- BUTTON TO MUSCIAL ACTS  -->
    <%= link_to image_tag("https://i.warosu.org/data/cgl/img/0063/58/1351390622637.jpg", class: "perf"), "/categories/3" %>
  </div>

</div>
